@font-face{font-family:'Whitney';font-weight:100;font-style:normal;src:url(//static.qiwi.com/img/fonts/whitney-ss-book/WhitneySSm-Book-ProCy.eot);src:url(//static.qiwi.com/img/fonts/whitney-ss-book/WhitneySSm-Book-ProCy.eot?#iefix) format('embedded-opentype'),url(//static.qiwi.com/img/fonts/whitney-ss-book/WhitneySSm-Book-ProCy.woff) format('woff'),url(//static.qiwi.com/img/fonts/whitney-ss-book/WhitneySSm-Book-ProCy.ttf) format('truetype'),url(//static.qiwi.com/img/fonts/whitney-ss-book/WhitneySSm-Book-ProCy.svg#whitneylight) format('svg')}@font-face{font-family:'Whitney';font-weight:400;font-style:normal;src:url(//static.qiwi.com/img/fonts/whitney-ss-medium/WhitneySSm-Medium-ProCy.eot);src:url(//static.qiwi.com/img/fonts/whitney-ss-medium/WhitneySSm-Medium-ProCy.eot?#iefix) format('embedded-opentype'),url(//static.qiwi.com/img/fonts/whitney-ss-medium/WhitneySSm-Medium-ProCy.woff) format('woff'),url(//static.qiwi.com/img/fonts/whitney-ss-medium/WhitneySSm-Medium-ProCy.ttf) format('truetype'),url(//static.qiwi.com/img/fonts/whitney-ss-medium/WhitneySSm-Medium-ProCy.svg#whitneymedium) format('svg')}@font-face{font-family:'Whitney';font-weight:bold;font-style:normal;src:url(//static.qiwi.com/img/fonts/whitney-ss-semibold/WhitneySSm-Semibold-ProCy.eot);src:url(//static.qiwi.com/img/fonts/whitney-ss-semibold/WhitneySSm-Semibold-ProCy.eot?#iefix) format('embedded-opentype'),url(//static.qiwi.com/img/fonts/whitney-ss-semibold/WhitneySSm-Semibold-ProCy.woff) format('woff'),url(//static.qiwi.com/img/fonts/whitney-ss-semibold/WhitneySSm-Semibold-ProCy.ttf) format('truetype'),url(//static.qiwi.com/img/fonts/whitney-ss-semibold/WhitneySSm-Semibold-ProCy.svg#whitneysemibold) format('svg')}@font-face{font-family:'WhitneyLight';src:url(//static.qiwi.com/img/fonts/whitney-light/whitney-light-progkcy-webfont.eot);src:url(//static.qiwi.com/img/fonts/whitney-light/whitney-light-progkcy-webfont.eot?#iefix) format('embedded-opentype'),url(//static.qiwi.com/img/fonts/whitney-light/whitney-light-progkcy-webfont.woff) format('woff'),url(//static.qiwi.com/img/fonts/whitney-light/whitney-light-progkcy-webfont.ttf) format('truetype'),url(//static.qiwi.com/img/fonts/whitney-light/whitney-light-progkcy-webfont.svg#whitneylight) format('svg')}@font-face{font-family:'FontAwesome';src:url(//static.qiwi.com/img/fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0);src:url(//static.qiwi.com/img/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0) format('embedded-opentype'),url(//static.qiwi.com/img/fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0) format('woff'),url(//static.qiwi.com/img/fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0) format('truetype'),url(//static.qiwi.com/img/fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular) format('svg');font-weight:normal;font-style:normal}
html,body {
    color: #282828;
    height: 100%;
    font-weight: 100;
    font-family: Whitney, Helvetica, Arial, sans-serif;
}
a {
    color: #26b;
}
a:hover {
    color: #1c4890;
}

.landing {
    position: relative;
    height: 100%;
}
.landing-body {
    padding: 0 40px;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
}
.landing-body-row-content {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
    height: 100%;
}
/*******************************************/
.main {
    height: 100%;
}
.main-header {
    margin: 5% 40px 8%;
    height: 63px;
    background: url("https://static.qiwi.com/img/qiwi_com/logo/logo-qiwi-slogan.svg") left top / 172px 63px no-repeat;
}
.main-header-subtitle {
    margin: 20px 0 0;
    padding: 0;
    color: #000;
    text-align: right;
}
.main-header-subtitle-link {
    color: inherit;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
}
.main-header-subtitle-link:hover {
    text-decoration: underline;
}
.main-header-subtitle-link.active {
    font-weight: bold;
}
.main-title {
    margin: 0 0 30px;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    color: #282828;
}
.main-subtitle {
    margin: 0 0 50px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.main-button {
    margin: 0 auto;
    padding: 15px 30px 17px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    background: #fff;
    border-radius: 3px;
    border: solid 3px #ffa834;
    text-decoration: none;
    transition: .3s;

}
.main-button:hover {
    color: #000;
    background: #ffa834;
    transition: .3s;
}

/**********************************/
.scheme-list {
    position: relative;
    margin: 0 auto;
    font-size: 0;
    width: 100%;
}
.scheme-list-item {
    padding: 80px 0;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: center;
}
.scheme-list-item:first-child {
    margin: 0 5% 0 0;
}
.scheme-list-item:last-child {
    margin: 0 0 0 5%;
}
.scheme-list-item-title {
    margin: 0 0 25px;
	height: 52px;
    line-height: 1.3;
    color: #0028ac;
    font-size: 22px;
    font-weight: 100;
}
.scheme-list-item-info {
    margin: 0 40px 45px;
	height: 52px;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}
.scheme-list-item-subinfo {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5;
}
.footer-list {
    margin: 36px auto;
    padding: 0 40px;
    max-width: 1200px;
    min-width: 400px;
    font-size: 0;
}
.footer-list-link {
    margin: 0 50px 0 0;
    display: inline-block;
    color: #282828;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    transition: 0.3s;
}
.footer-list-link:hover {
    color: #ffa834;
    transition: 0.3s;
}
.footer-list-link.help {
	float: right;
}
.footer-list-link.help:hover {
    color: #282828;
    transition: 0.3s;
}
.footer-list-link:last-child {
    margin: 0;
	text-align: right;
}

@media (max-width: 1000px) {
    .main-header {
        margin: 5% 40px 12%;
    }
    .scheme-list {
        width: 100%;
    }
	.scheme-list-item-info {
    	margin: 0 20px 45px !important;
		height: 85px !important;
	}
}

@media (max-width: 780px) {
	.scheme-list-item-info {
		margin: 0 40px 45px;
		height: 52px;
		font-size: 15px;
		font-weight: 100;
		text-align: center;
	}
}


@media (max-width: 680px) {
	.landing-body {
		height: auto;
		padding: 0 20px 20px;
	}
    .main-title {
        font-size: 26px;
    }
    .main-header {
        margin: 5% 20px 10%;
    }
    .main-subtitle {
		margin: 0 40px 50px;
        font-size: 16px;
    }
    .scheme-list-item {
        padding: 60px 0;
    }
	.footer-list-link {
    	margin: 0 25px 0 0;
	}
	.footer-list-link:last-child {
    	margin: 0;
	}
	.scheme-list-item {
		padding: 30px 0 0;
		width: 100%;	
	}
	.scheme-list-item-title {
    	height:35px !important;
	}
	.scheme-list-item-info {
		margin: 0 auto 32px !important;
    	width: 65% !important;
    	height:35px !important;
	}
	.scheme-list-item {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media (max-width: 480px) {
.landing {
    max-width: 480px;
    min-width: 320px;
}
.landing {
    position: relative;
    height: 100%;
}
.landing-body-row-content {
    margin: 0 auto;
    max-width: none;
    min-width: inherit;
    height: 100%;
}
.landing-body {
    height: auto;
    padding: 0 15px;
}
.main-header {
    margin: 8% 0px 10%;
    height: 40px;
    background-size: 86px 31px;
}

.main-header-subtitle-link {
    font-size: 14px;
}
.main-header-subtitle {
    margin: 0px 0 0;
}
.main-title {
    font-size: 24px;
}
.main-subtitle {
    font-size: 14px;
}
.scheme-list-item {
    padding: 30px 0 0;
    width: 100%;	
}
.scheme-list-item:first-child, 
.scheme-list-item:last-child {
    margin: 0;
}
.scheme-list {
    margin-bottom: 30px;
}
.scheme-list-item-title {
    margin: 0 0 8px;
	font-size: 16px;
}
.scheme-list-item-info {
    margin: 0 0px 18px;
	height: 40px !important;
    width: 90% !important;
}
.main-button {
    padding: 8px 10px 7px;
    font-size: 14px;
}
.footer {
    height: auto;
}
.footer-list {
    margin: 0px auto 0px;
    padding: 0 15px;
    max-width: none;
    min-width: inherit;
}
.footer-list-link {
    margin: 25px 0;
    display: block;
    text-align: center;	
}

.footer-list-link.help {
	margin: 0 0 40px;
    float: none;
	text-align: center;
}


}

